* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.main {
    background-image: url(./../images/placeholder.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    height: 1080px;
    position: relative;

}

.navbar {
    margin-bottom: 80px;
}


.navbar_container {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar_logo-link {
    text-decoration: none;


}

.navbar_list {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-left: 40%;


}


.navbar_link {
    color: #FFF;
    font-family: Helvetica;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    margin-left: 45px;
}

.navbar_link:hover {
    color: #34C759;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.navbar_line {
    height: 2px;
    flex-shrink: 0;
    color: #FFF;
    opacity: 0.1;
}


.hero_container-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero_header {
    width: 1100px;
    height: 163px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Helvetica;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 7.2px;
    text-transform: capitalize;
    margin-bottom: 16px;

}

.hero_text {
    width: 595px;
    color: #FFF;
    text-align: center;
    font-family: Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.2px;
    opacity: 0.7;
    margin-bottom: 40px;
}

.hero_button {
    width: 220px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 43px;
    background: #34C759;
    color: var(--Black, #1A1A1A);
    text-align: center;
    font-family: Helvetica;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3.6px;
    border: none;
    cursor: pointer;
    margin-bottom: 75px;
}

.hero_list {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

.hero_item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero_img {
    margin-bottom: 16px;
}

.hero_item-header {
    width: 215px;
    color: #FFF;
    text-align: center;
    font-family: Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 16px;
}

.hero_item-text {
    color: #FFF;
    font-family: Helvetica;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    opacity: 0.5;
    text-decoration: none;
}

.basic {
    position: absolute;
    top: 800px;
    left: 200px;
    height: 736px;
    border-radius: 6px;
    background: #252525;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.10);


}

.basic_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.basic_header {
    color: #D9D9D9;
    font-family: Helvetica;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 6px;
    padding-top: 105px;
    margin-bottom: 61px;
    background-image: url(./../images/ABOUT.png);
    background-repeat: no-repeat;
    background-position: bottom;
}

.basic_text {
    width: 635px;
    color: #A6A6A6;
    font-family: Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 90px;
}

.basic_all {
    display: flex;
    justify-content: space-evenly;
}

.basic_left {
    display: flex;
    align-items: center;
    width: 600px;
    justify-content: space-evenly;
}

.basic_right {
    display: flex;
    align-items: center;
    width: 600px;
    justify-content: space-evenly;
}

.work {
    background: #1A1A1A;


}

.work_header {
    padding-top: 50%;
}

.work_container {
    padding: 0px;
}

.work_container-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work_header {
    color: #D9D9D9;
    text-align: center;
    font-family: Helvetica;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 90px;
    letter-spacing: 7.2px;
    text-transform: capitalize;
    background-image: url(./../images/WORK.png);
    background-repeat: no-repeat;
    background-position: bottom;
    margin-bottom: 28px;

}

.work_line {
    width: 60px;
    height: 2px;
    background: #34C759;
    margin-bottom: 60px;
}

.work_list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;

}

.work_item {
    padding: 24px;
    width: 255px;
    height: 206px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #252525;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.10);

}

.work_item:hover {
    border-radius: 6px;
    background: var(--Primary, #34C759);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.10);
    transition: 0.8s;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
}

.work_item-header {
    width: 207px;
    height: 32px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Helvetica;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.275px;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.work_hr {
    width: 56px;
    height: 2px;
    flex-shrink: 0;
    background: #34C759;
    margin-bottom: 24px;
}

.work_text {
    width: 207px;
    color: rgba(255, 255, 255, 0.50);
    font-family: Helvetica;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.162px;
}

.dish {
    background: #1A1A1A;
    padding-top: 120px;
}

.dish_container {
    padding: 0;
}

.dish_center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dish_header {
    width: 50%;
    color: #D9D9D9;
    text-align: center;
    font-family: "Helvetica";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 90px;
    letter-spacing: 7.2px;
    background-image: url(./../images/dishes.png);
    background-repeat: no-repeat;
    background-position: bottom;
    margin-bottom: 20px;
}

.dish_line {
    width: 60px;
    height: 2px;
    background: #34C759;
    margin-bottom: 60px;
}

.dish_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.dish_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 493px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #252525;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.10);
    margin-bottom: 30px;
}

.dish_img {
    margin-bottom: 29px;
}

.dish_item-header {
    width: 290px;
    color: #D9D9D9;
    font-family: "Helvetica";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 10px;
}

.dish_item-text {
    width: 290px;
    color: #A4A8B2;
    font-family: "Helvetica";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.15px;
    margin-bottom: 20px;
}

.dish_item-choise {
    width: 290px;
    color: #85878C;
    font-family: "Helvetica";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.162px;
    margin-bottom: 20px;
}

.dish_list-star {
    display: flex;
    align-items: center;
    gap: 25px;
}

.dish_list-number {
    color: #B3B3B3;
    font-family: "Helvetica";
    font-size: 12px;
    font-style: normal;
    font-weight: 900;
    line-height: 30px;
    letter-spacing: 1.5px;
}

.dish_list-button {
    width: 100px;
    height: 40px;
    flex-shrink: 0;
    color: var(--Dark-Gray, #252525);
    text-align: center;
    font-family: "Helvetica";
    font-size: 10px;
    font-style: normal;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: rgba(52, 199, 89, 1);
    border: none;
    cursor: pointer;
    border-radius: 43px;
    -webkit-border-radius: 43px;
    -moz-border-radius: 43px;
    -ms-border-radius: 43px;
    -o-border-radius: 43px;
}

.dish_list-bt {
    width: 100px;
    height: 40px;
    flex-shrink: 0;
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-family: "Helvetica";
    font-size: 10px;
    font-style: normal;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: transperent;
    background-color: rgba(48, 48, 48, 1);
    border: none;
    cursor: pointer;
    border-radius: 43px;
    -webkit-border-radius: 43px;
    -moz-border-radius: 43px;
    -ms-border-radius: 43px;
    -o-border-radius: 43px;

}

.wrap {
    background: #1A1A1A;
    padding-top: 120px;

}

.wrap_container {
    padding: 0;
}

.wrap_center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrap_header {
    color: #D9D9D9;
    text-align: center;
    font-family: "Helvetica";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 90px;
    letter-spacing: 7.2px;
    text-transform: capitalize;
    background-image: url(./../images/chefs.png);
    background-repeat: no-repeat;
    background-position: bottom;
    margin-bottom: 21px;
}

.wrap_line {
    width: 60px;
    height: 2px;
    flex-shrink: 0;
    background: #34C759;
    margin-bottom: 68px;
}

.wrap_list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.wrap_item-dispaly {
    display: flex;
    align-items: center;
    gap: 24px;
}

.warp_img {
    margin-bottom: 24px;
}

.wrap_item-header {
    color: #FFF;
    font-family: "Helvetica";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.225px;
    margin-bottom: 6px;
}

.wrap_text {
    color: rgba(255, 255, 255, 0.50);
    font-family: "Helvetica";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.15px;
}

.wrap_img-all {
    display: flex;
    gap: 30px;
}

.our {

    background: #1A1A1A;
    padding-top: 120px;
}

.our_container {
    padding: 0;

}

.our_center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our_header {
    color: #D9D9D9;
    text-align: center;
    font-family: "Helvetica";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 90px;
    letter-spacing: 7.2px;
    background-image: url(./../images/recipes.png);
    background-repeat: no-repeat;
    background-position: bottom;
    margin-bottom: 28px;
}

.our_line {
    width: 60px;
    height: 2px;
    flex-shrink: 0;
    background: #34C759;
    margin-bottom: 60px;
}

.our_left {
    background-image: url(./../images/our.png);
    background-repeat: no-repeat;
    width: 540px;
    height: 510px;

}

.our_button {
    width: 89px;
    height: 25px;
    flex-shrink: 0;
    background-color: #000;
    border: none;
    cursor: pointer;
    color: #FFF;
    text-align: center;
    font-family: "Helvetica";
    font-size: 10px;
    font-style: normal;
    font-weight: 900;
    line-height: 25px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    margin-top: 60px;
    margin-bottom: 65px;

}

.our_time {
    color: #FFF;
    font-family: "Helvetica";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 25px;

}

.our_text {
    width: 411px;
    color: #FFF;
    text-align: center;
    font-family: "Helvetica";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 45px;

}

.our_left-header {
    color: #FFF;
    font-family: "Helvetica";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 67px;

}

.our_left-display {
    display: flex;
    align-items: center;
    gap: 30px;
}

.our_left-number {
    color: #FFF;
    font-family: "Helvetica";
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;

}

.our_container {
    padding: 0;
}

.our_all {
    display: flex;
    justify-content: space-between;
}

.our_left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our_right-card {
    padding: 30px 25px;
    width: 540px;
    height: 150px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #252525;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.10);
    margin-bottom: 30px;
}

.card {
    background-image: url(./../images/our_card.png);
}

.card-color {
    background: var(--Primary, #34C759);
    filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.05));
}

.our_right-text {
    width: 505px;
    color: #FFF;
    font-family: "Helvetica";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 10px;
}

.our_right-all {
    display: flex;
    justify-content: space-between;
}

.our_right-display {
    display: inline-flex;
    gap: 20px;
}

.our_right-bt {
    width: 65px;
    height: 25px;
    flex-shrink: 0;
    background-color: #000;
    color: #FFF;
    text-align: center;
    font-family: "Helvetica";
    font-size: 10px;
    font-style: normal;
    font-weight: 900;
    line-height: 25px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

.our_right-time {
    color: #B3B3B3;
    font-family: "Helvetica";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

.our_right-message {
    display: flex;
    align-items: center;
    gap: 14px;
}

.social {
    background: #1A1A1A;
    padding-top: 91px;
    height: 700px;
}

.social_container {
    padding: 0;
}

.social_center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social_header {
    color: #D9D9D9;
    text-align: center;
    font-family: "Helvetica";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 90px;
    letter-spacing: 7.2px;
    background-image: url(./../images/SOCIAL.png);
    background-repeat: no-repeat;
    background-position: bottom;
    margin-bottom: 28px;
    width: 50%;
}

.social_line {
    width: 60px;
    height: 2px;
    flex-shrink: 0;
    background: var(--Primary, #34C759);
    margin-bottom: 60px;
}

.social_list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.social_item {
    padding: 25px;
    width: 350px;
    height: 330px;
    flex-shrink: 0;
    background: #252525;
    filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.10));
}

.social_images {
    background-image: url(./../images/social_images.png);
    width: 350px;
    height: 230px;
    margin-top: 25px;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
}

.social_display {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-bottom: 10px;
}

.social_text {
    width: 106px;
    color: #BFBFBF;
    font-family: "Helvetica";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.social_button {
    width: 100px;
    height: 40px;
    flex-shrink: 0;
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-family: "Helvetica";
    font-size: 10px;
    font-style: normal;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: transperent;
    background-color: rgba(48, 48, 48, 1);
    border: none;
    cursor: pointer;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

.social_hr {
    width: 100%;
    height: 2px;
    background-color: #303030;
    margin-bottom: 20px;
}

.social_time {
    width: 280px;
    color: #737373;
    font-family: "Helvetica";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 10px;
}

.social_item-text {
    width: 280px;
    color: rgba(255, 255, 255, 0.70);
    font-family: "Helvetica";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 10px;
}

.social_link {
    text-decoration: none;
    width: 280px;
    color: var(--Primary, #34C759);
    font-family: "Helvetica";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.switcher {
    background: #252525;
    filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.10));
}

.switcher_line {
    margin-top: 33px;
    height: 2px;
    flex-shrink: 0;
    background: #303030;
    margin-bottom: 40px;
   
}

.switcher_top {
    padding-top: 30px;
}

.switcher_center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.switcher_link {
    text-decoration: none;
    color: #737373;
    text-align: center;
    font-family: "Helvetica";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 30px;

}